p
  {
    font-family: "Papyrus", fantasy;
    font-size:55px;
    color:#ffa511;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 900;
    line-height: 1.5x;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: teal;
    text-transform: uppercase;

}