h1 {
    text-align: center;
    text-shadow: 4px 4px 5px;
}
body{
    background-color: rgb(255, 182, 127);
}
h2 {
    text-align: center;
}
h3 {
text-align: center;
}
h4 {
text-align: center;
}
h5 {
text-align: center;
}
h6{
text-align: center;
}
ul{
    text-align: center;
}
.doggy
{
text-align: center;
}